@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #202229;
}

::-webkit-scrollbar-thumb {
  background: #161824;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}
